# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Checkout Lost Ark Logger Repository
      uses: actions/checkout@v3
    
    - name: CheckoutMachina Repository
      uses: actions/checkout@v3
      with:
        repository: 'ravahn/machina'
        path: 'machina'
    
    - name: Setup Msbuild
      uses: microsoft/setup-msbuild@v1.1.3
      
    - name: Setup NuGet.exe for use with actions
      uses: NuGet/setup-nuget@v1.1.1
      
    - name: Restore Nuget Packages
      run: nuget restore LostArkLogger.sln
      
    - name: Build Solution
      run: msbuild LostArkLogger.sln /t:Clean,Build /p:Configuration=Release
      
    - name: Create Release
      uses: ncipollo/release-action@v1.11.2
      with:
        artifacts: "./bin/Release/*.*"
        draft: true
        name: Release 
        token: ${{ secrets.GITHUB_TOKEN }}
